<div style="text-align:center">
  <h1>
    SIDEJOINT
  </h1>
  <h4>Buy and Sell With Your Friend In Realtime</h4>
</div>
<br>
<div class="card-container">
  <div class="card" *ngFor="let data of content.priceSummary.result">
    <div class="container">   
     
       
          <div class="card" *ngFor="let item of data.priceSummaryItem">
            <h4>{{data.name}}  <label class="percentage">{{item.percentage}}</label> {{item.pricestatus}} </h4>
            <h4> Open Value : $ {{data.todayopenvalue}} </h4>
            <h1>$ {{item.averageprice}}</h1>

            <p>Total {{item.totalprice}}{{data.email}}</p>
          
          </div>
          
    </div>
  </div>  
</div>